body{
  background-color:lightgray;
  color:#222;
}
.top-container{
    padding: 4rem;
    background-color:  #192230;
    text-align: center;
}
.cont {
width: 100%;
margin: 0 auto;
height: 100%;
background-color:#2F4351;
color:white;
padding:0px;
}
.conn{
    font-size: 20px;
    padding-left: 350px;
    float: left;
    text-align: justify;
    font-family: cursive;
    background-color: #fff;
    color:#000;

}
.shaz{
  text-align: justify;
}
#img1{
    float:left;
    padding-left:0px ;
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
}
.shar {
  text-align: center;
  color:#f7ce06;
  margin-top: 20px;
  font-size: 10px;
  letter-spacing: 8px;
  font-family: sans-serif;

}
.co{
  min-height: 90px;
background-color:#385367 ;
 padding-top: 10px;
padding-bottom: 20px;
font-size: 30px;
color:white;
text-align: center;
letter-spacing: 3px;
}
p{
  text-align: center;
  padding:10px;
  margin-bottom:20px;
  font-family: sans-serif;
}

.conte{
width: 80%;
margin: 25px auto 0px;
height: 80%;
background-color:#f7ce06;
color:white;
padding-top:0px ;
text-align:center;
padding-right:0px ;
font-family: levitica;
padding-left:0px;
}
.con{
  height: 500px;
background-color: white;
 padding-top: 10px;
padding-bottom: 20px;
font-size: 30px;
color:white;
text-align: center;
}
.pa{
  text-align:left;
  color:#f5bf0c;
  font-family: sans-serif;
  font-weight: bold;


}
.pir{
  color:#271f54;
  text-align: left;
  font-weight: bolder;
  font-size: 12;
}
.hobbies{
  justify-content:  center;
  background-color: white;
  min-width: 490px;
  min-height:270px;
  padding-bottom: 50px;
  margin-right: 710px;
  margin-left: 137px;
  float:left;
  margin-bottom: 30px;
  margin-top:37px;
  padding-right: 0px;
}
.p{
  margin-left: -1px;
  margin-right: -1px;
  color:#1e1263;
  font-size: 20px;
  background-color: #f7ce06;
  padding:  10px;
  margin-top: 0px;
  text-align: left;
}
.goals{
  justify-content:  center;
  background-color: white;
  min-width: 490px;
  min-height:270px;
  padding-bottom: 60px;
  margin-right: 200px;
  margin-left: 730px;
  float:left;
  margin-bottom: 20px;
  margin-top:-313px;
  text-align: left;

}
.p1{
  margin-left: -1px;
  margin-right: -1px;
  color:#1e1263;
  font-size: 20px;
  background-color: #f7ce06;
  padding:  10px;
  margin-top: 0px;
  text-align: left;
  

}

table{
margin: auto;
min-width: 80%;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
  text-align: center;
}
th{
background-color: #f7ce06;
text-align: center;
}
td{
background-color: white;
}
.table table-bordered{
padding-left: -20px;
padding-top: 0px;
/*padding-left: -20px;*/
width: 1100px;
min-height: 450px;
background-color: #fff;
margin: 30px auto 0 auto;
margin-top: -270px;
color: #6B6B6B;
}
.table /*table-bordered*/ thead{
  color:#271f54;
}
/*.footer {
height: 200px;
margin-top:50px;
background-color: #354457;
text-align: left;
padding-top: -50px;
padding-bottom: 100px;
margin-bottom: 20px;
}
.foo{
margin-top:30px;
margin-left:-400px;
padding-top:80px;
}*/
/*.footer {
height: 200px;
margin-top:50px;
background-color: #354457;
text-align: left;
padding-top: -50px;
padding-bottom: 100px;
margin-bottom: 20px;
}
.foo{
margin-top:30px;
margin-left:-400px;
padding-top:80px;
}
.fao{
  margin-top: -90px;
  margin-left: -600px;
}

h4 {
  margin-left:500px; 
  padding-left: -70px;
}*/
.footer {
color:#fff;
padding-bottom: 80px;
margin-bottom: 20px;
margin-top: 50px;
background-color:#385367;
padding:50px 0;
}
.footer h5{
  padding-left: 140px;
}
.no{
  padding-left:  10px;
}
.name{
  color: #ffd012;
  padding-right: 770px;
}
.new{
  padding-right: 800px;
}
